<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Movieweb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjektLogowanie.styles.css" asp-append-version="true" />
    <style>
        .dropdown-menu-custom {
            display: none;
            position: absolute;
            top: 50px;
            right: 20px;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 10px;
            list-style: none;
            z-index: 1000;
        }
        .dropdown-menu-custom.show {
            display: block;
        }
        .dropdown-menu-custom a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
        }
        .dropdown-menu-custom a:hover {
            background-color: #f0f0f0;
        }
        .navbar-nav {
            margin-left: auto;
        }
        .navbar-toggler-custom {
            border: none;
            background: none;
        }
        .navbar-toggler-icon-custom {
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            content: "";
            background: no-repeat center center;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Movieweb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        @if (ViewContext.HttpContext.Session.GetString("Logged") == "Yes")
                        {
                            if (ViewContext.HttpContext.Session.GetString("Logged") == "Yes" && ViewContext.HttpContext.Session.GetString("User") == "admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="IO" asp-action="adm">For the admin</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" asp-controller="IO" asp-action="other">View all data</a></li>
                                <li class="nav-item">
                                <a class="nav-link" asp-controller="IO" asp-action="Welcome">Main site</a></li>
                            }
                            else{
                                <li class="nav-item">
                                <a class="nav-link" asp-controller="IO" asp-action="Welcome">Main site</a></li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="IO" asp-action="LogOut">Logout</a></li>
                            <!-- Dropdown Icon -->
                            <li class="nav-item">
                                <button class="navbar-toggler-custom" id="dropdownMenuButton">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </li>
                            <!-- Dropdown Menu -->
                            <ul class="dropdown-menu-custom" id="dropdownMenu">
                                <li><a href="/api/IO/Films">Films</a></li>
                                <li><a href="/api/IO/Actors">Actors</a></li>
                                <li><a href="/api/IO/Directors">Directors</a></li>
                                <li><a href="/api/IO/Genres">Genres</a></li>
                            </ul>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form method="post" asp-controller="IO" asp-action="Login">
                                    <button type="submit" class="btn btn-link">Login</button>
                                </form>
                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="IO" asp-action="Register">
                                    <button type="submit" class="btn btn-link">Register</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Movieweb <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var dropdownButton = document.getElementById('dropdownMenuButton');
            var dropdownMenu = document.getElementById('dropdownMenu');

            dropdownButton.addEventListener('click', function (event) {
                event.stopPropagation();
                dropdownMenu.classList.toggle('show');
            });

            document.addEventListener('click', function (event) {
                if (!dropdownMenu.contains(event.target) && !dropdownButton.contains(event.target)) {
                    dropdownMenu.classList.remove('show');
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
