html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form.d-flex.flex-column.align-items-center .form-row {
  width: 100%;
  justify-content: center;
}

.form-group {
  margin: 15px 0;
}

.btn-outline-dark {
  background-color: white;
  border-color: black;
  color: black;
}

.btn-outline-dark:hover {
  background-color: black;
  color: white;
}

.mx-3 {
  margin: 0 1.5rem;/
}

.ml-1 {
  margin-left: 0.25rem;
}
