@model HomeViewModel

<div class="card mb-4">
    <div class="card-body">
        <h3>Add Genre</h3>
        <form method="post" action="/api/IO/addgen">
        @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="name" id="nam" name="name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Add Genre</button>
        </form>
    </div>
</div>
