<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Failed</h2>
                    <p class="card-text">You failed to delete a film</p>
                    <form asp-controller="IO" asp-action="DeleteFilm" method="get">
                        <button type="submit" class="btn btn-primary">Delete another film</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
