<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Welcome</div>
                <div class="card-body">
                    @{
                        if (ViewContext.HttpContext.Session.GetString("Logged") == "Yes")
                        {
                            string k = ViewContext.HttpContext.Session.GetString("User");
                            <p>You are logged in as: @k</p>
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <tr>
                                        <td class="text-center">
                                            <form asp-controller="IO" asp-action="Films" method="get">
                                                <button type="submit" class="btn btn-outline-dark btn-transparent">Films</button>
                                            </form>
                                        </td>
                                        <td class="text-center">
                                            <form asp-controller="IO" asp-action="Actors" method="get">
                                                <button type="submit" class="btn btn-outline-dark btn-transparent">Actors</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <form asp-controller="IO" asp-action="Directors" method="get">
                                                <button type="submit" class="btn btn-outline-dark btn-transparent">Directors</button>
                                            </form>
                                        </td>
                                        <td class="text-center">
                                            <form asp-controller="IO" asp-action="Genres" method="get">
                                                <button type="submit" class="btn btn-outline-dark btn-transparent">Genres</button>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-center">
                                            <form asp-controller="IO" asp-action="AddRev" method="get">
                                                <button type="submit" class="btn btn-outline-dark btn-transparent">Add Review</button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        }
                        else
                        {
                            <p class="text-center">Log in before going further</p>
                            <div class="d-flex justify-content-center">
                                <form asp-controller="IO" asp-action="Login" method="post">
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </form>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
